# 任务：
1.给个数据列表：states
2.把数据中的符号删除，字符串前后空格删除，内容变成标题的形式

### 基础版：

In [16]:
states = ['   #Alabama?  ', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [17]:
import re

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub('[!#?]','',value)
        value=value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama', 'Florida', 'South   Carolina', 'West Virginia']

### 进阶版：(将功能都提取出来，打包操作)

In [18]:
states = ['   #Alabama?  ', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [19]:
def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops=[str.strip,remove_punctuation,str.title]
# 函数列表clean_ops

def clean_strings(string,ops):
    result=[]
    for value in string:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

clean_strings(states,clean_ops)

['Alabama', 'Florida', 'South   Carolina', 'West Virginia']

### 优化: 将[2][3]中的空格也去掉

In [27]:
def remove_spaces(value):
    return re.sub(' ', '',value)

def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops=[str.strip,remove_punctuation,remove_spaces,str.title]
# 函数列表clean_ops

def clean_strings(string,ops):
    result=[]
    for value in string:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

clean_strings(states,clean_ops)

['Alabama', 'Florida', 'Southcarolina', 'Westvirginia']

### 继续优化：[2][3]中间应该有一个空格

In [28]:
def remove_spaces(value):
    return re.sub(' +', ' ',value)
# 一个以上的空格替换成一个空格
#  +：一个或多个+前面的字符

def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops=[str.strip,remove_punctuation,remove_spaces,str.title]
# 函数列表clean_ops

def clean_strings(string,ops):
    result=[]
    for value in string:
        for function in ops:
            value=function(value)
        result.append(value)
    return result

clean_strings(states,clean_ops)

['Alabama', 'Florida', 'South Carolina', 'West Virginia']

## 神奇的map函数：
    map(ops,value)
    功能：将函数ops循环运用到value列表上
    例如：

In [29]:
result=[]
for value in map(remove_punctuation,states):
    result.append(value)
print(result)

['   Alabama  ', 'FlOrIda', 'south   carolina', 'West virginia']

### 匿名函数 lambda
    作用：直接声明是个函数，不用def 这个函数的功能
    
#### 例一：要实现将某个列表的数值乘二、平方的操作

In [33]:
num_one=[1,2,3,4,5]
result_one=[x*2 for x in num_one]
result_two=[x**2 for x in num_one]
print('乘二：',result_one)
print('平方：',result_two)

乘二： [2, 4, 6, 8, 10]
平方： [1, 4, 9, 16, 25]

用 def 定义乘二 或者平方

In [37]:
def function_mult(x):
    return x*2

result_three=[]

for value in map(function_mult,num_one):
    result_three.append(value)
print(result_three)

[2, 4, 6, 8, 10]

    因为*2、**2的功能太简单了，所以不用额外定义一个函数
    可以直接用lambda

In [40]:
result_four=[]

for value in map(lambda x : x*2,num_one):
    result_four.append(value)
print(result_four)

[2, 4, 6, 8, 10]

#### 例二：按照字符串中不同字母的个数进行排序

In [41]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

y=lambda x : len(set(list(x)))

strings.sort(key=y)
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

# list.sort 与sorted 区别
    list.sort:
     1.排序 
    2.改变原列表
    list.sort(func=None,key=None,reverse=F..)
    
     sorted：
     1.排序 
     2.不改变原列表
     sorted(iteralable,key=None,reverse)
看key怎么用，例子：
将student——tuples 按照[2]进行从小到大的排序

In [55]:
student_tuples = [('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]
sorted(student_tuples, key = lambda x:x[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [60]:
student_tuples
# 原列表未改变

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

# 概括函数即对象
    函数可以作为一个操作对象
    如下:
    add_numbers 函数可以被当做test函数的操作对象a

In [1]:
def add_numbers(x,y):
    return x + y
def test(a):
    return a(2,4)

test(add_numbers)

6

# Generators 生成器
    1. 可迭代，表达的内容比较模糊
    2.yield 替换 return 效果?

In [3]:
L=[1,2,3]
A=iter(L)
print(A)
print(list(A))

<list_iterator object at 0x000001CAB34484C0>
[1, 2, 3]

In [7]:
def text_one(x):
    return x*10

text_one(6)

60

In [11]:
def text_two(x):
    
    a=x*2
    yield a
    
    b=a*2
    yield b

list(text_two(6))

[12, 24]

In [27]:
def yield_test(n):
    for i in range(n+1):
        yield change(i)
    
def change(x):
    return x*2

a=0
for i in yield_test(10):
    print(a,'*2=',i)
    a+=1

0 *2= 0
1 *2= 2
2 *2= 4
3 *2= 6
4 *2= 8
5 *2= 10
6 *2= 12
7 *2= 14
8 *2= 16
9 *2= 18
10 *2= 20

In [32]:
num=(1,3,5,7,9)
dict((i,i*2) for i in num)

{1: 2, 3: 6, 5: 10, 7: 14, 9: 18}

###  from itertools import groupby

In [42]:
from itertools import groupby
date=[(1,2),(1,3),(1,5),(2,3),(2,5),(2,9)]
temp=groupby(date,key=lambda x:x[0])

for a,b in temp:
    print(a,':',list(b))

1 : [(1, 2), (1, 3), (1, 5)]
2 : [(2, 3), (2, 5), (2, 9)]

### from itertools import combinations
组合（类似于一组人之间，几个人不重复握手）

In [1]:
num=[1,2,3,4]

from itertools import combinations
for zuhe in combinations(num,3):
    print('your password is :',password)

your password is : (1, 2, 3)
your password is : (1, 2, 4)
your password is : (1, 3, 4)
your password is : (2, 3, 4)

### from itertools import permutations
排列，类似于，盲猜密码

In [2]:
num=[1,2,3,4]

from itertools import permutations
for pailie in permutations(num,3):
    print(pailie)

(1, 2, 3)
(1, 2, 4)
(1, 3, 2)
(1, 3, 4)
(1, 4, 2)
(1, 4, 3)
(2, 1, 3)
(2, 1, 4)
(2, 3, 1)
(2, 3, 4)
(2, 4, 1)
(2, 4, 3)
(3, 1, 2)
(3, 1, 4)
(3, 2, 1)
(3, 2, 4)
(3, 4, 1)
(3, 4, 2)
(4, 1, 2)
(4, 1, 3)
(4, 2, 1)
(4, 2, 3)
(4, 3, 1)
(4, 3, 2)

### from itertools import product
多组之间相互组合

In [3]:
from itertools import product

my_name=['kong','wei','yun']
mather_name=['li','mai','qing']

for n in product(my_name,mather_name):
    print(n)

('kong', 'li')
('kong', 'mai')
('kong', 'qing')
('wei', 'li')
('wei', 'mai')
('wei', 'qing')
('yun', 'li')
('yun', 'mai')
('yun', 'qing')

# Errors and Exception Handling 错误和异常处理

In [5]:
float('1.2345')# 正常
float('something') # 出现ValueError

ValueError: could not convert string to float: 'something'

### 1.except 回避所有错误

In [19]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
attempt_float('12.3')

attempt_float('你好')

'你好'

### 2.except AError 回避指定错误

In [21]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        print('请输入浮点型数值')
        
attempt_float('你好')

请输入浮点型数值

# 文件与操作系统
## 三部分：存文件，读文件，关闭文件